<a name="item{ITEM_ID_HEX}"></a>
  <table class="li">
    <tbody>
      <tr>
        <td class="pic p140 lt"><a href="#" class="x140 img">
          #{if _item.galleryURL != null}
          <img class="img" src="${_item.galleryURL.get(0).getAsString()}" alt="Item image" /></a>
          #{/if}
        </td>

        <td class="dtl ttl"><a href="http://cgi.ebay.com/${_item.title.get(0).getAsString()}/${_item.itemId.get(0).getAsString()}"
        class="vip">${_item.get("title").get(0).getAsString()}</a></td>

        <td class="trs">
          #{if _item.sellerInfo.get(0).topRatedSeller.get(0).getAsBoolean()}
             <img src= "http://p.ebaystatic.com/aw/pics/icons/iconTrsXSmall.gif"
                  alt="Get fast shipping and excellent service when you buy from eBay Top-rated sellers"
                  height="30" width="66" />
          #{/if }
        </td>

        #{if _item.sellingStatus.get(0).bidCount != null}
        <td class="bids bin1">${_item.sellingStatus.get(0).bidCount.get(0)} Bids</td>
        #{/if}
        #{else}
        <td class="bids bin1">0 Bids</td>
        #{/else}

        <td class="prc g-b">${_item.sellingStatus.get(0).currentPrice.get(0).__value__.getAsString()} ${_item.sellingStatus.get(0).currentPrice.get(0).get('@currencyId').getAsString()}</td>

        <td class="tme rt"><b class="hidlb">Time left:</b> <span class=
        "{ALERT_OR_NOT}">${_item.timeLeft}</span></td>
      </tr>
    </tbody>
  </table>